<footer>
  <div class="footerwrapper">
    <ul>
      <li>michaelbonfiglio at gmail dot com</li>
      <li><a href="{{site.url}}/assets/MBonfiglio_Resume.pdf">Resume</a></li>
      <li><a href="http://twitter.com/michaelbonbon" target="_blank">Twitter</a></li>
      <li><a href="http://www.linkedin.com/in/mbonfiglio" target="_blank">LinkedIn</a></li>
      <li><a href="https://github.com/michaelbonfiglio" target="_blank">Github</a></li>
    </ul>

    <p>© {{ 'now' | date: "%Y" }} Michael Bonfiglio.</p>
    </div>

</footer>
